.input {
    height:80px;
    margin-top: 30px;
    font-size: 65px;
    background-color: #000000;
    color: #ffffff;
    padding:15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }  